body {
    background-color: #fdffce;
}

nav {
    z-index: 99;
}

.logo {
    width: 140px;
}

.navbar-light .navbar-nav .nav-link.active {
    color: #E88989;
}

.navbar-light .navbar-nav .nav-link.active:hover {
    color: #000000;
}

.btn-outline-danger {
    color: #E88989;
    border-color: #E88989;
}

.btn-outline-danger:hover {
    color: #fff;
    background-color: #E88989;
    border-color: #E88989;
}

.section1 {
    background-image: radial-gradient(#FDFFB6, #FFD6A5, #FFADAD);
}

.text-danger {
    color: #E88989!important;
}

.section2 {
    background-color: #ffe7e7;
    margin-top: -2%;
}

.rounded {
    border-radius: 1.5rem!important;
}

.section3 {
    background-color: #fff6e9;
    margin-top: -2%;
}

.skill{
    background-color: #fff;
    border-radius: 10%;
}

.section4 {
    background-color: #fdffce;
    margin-top: -2%;
}